.header {
  background-color: var(--dark-blue);
  padding: 10px 6px;
  box-sizing: border-box;
}
.header-inner {
  max-width: 1440px;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner nav ul {
  display: flex;
  align-items: center;
  color: whitesmoke;
  gap: 14px;
}
.header-inner nav ul li a {
  font-size: 15px;
  transition: all 0.3s ease-in;
}

.header-inner nav ul li a:hover {
  color: rgba(245, 245, 245, 0.779);
}

@media screen and (max-width: 1100px) {
  html:not([lang="en"]) .header-inner nav {
    display: none;
  }
  .header-inner {
    justify-content: center;
  }
  .header-inner nav {
    display: none;
  }
}
