.icons {
     background-color: #071d60;
}
.icons-inner {
     max-width: 1440px;
     margin: 0 auto;
     width: 95%;
     padding: 12px 50px;
     box-sizing: border-box;
     background-color: #091847;
     display: flex;
     justify-content: space-between;
     background: linear-gradient(#0b2f9d 0%, #041548 100%);
     border: 0.5px solid #133189;
     border-radius: 10px;
}
.icon {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.icon h3 {
     margin-top: auto;
     font-family: 'Helvetica Neue', sans-serif;
     color: whitesmoke;
     font-weight: 400;
     text-align: center;
}
.icon img {
     height: auto;
     object-fit: contain;
}
.icon:nth-child(2) img {
     width: 65px;
     height: 56px;
}
.icon:nth-child(3) img {
     width: 50px;
}

@media screen and (max-width: 800px) {
     .icons-inner {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 24px;
          padding: 12px 16px;
     }
     .icon img {
          margin-bottom: 10px;
          width: 50px !important;
     }
     .icon:last-child img {
          width: 66px !important;
     }
     .icon h3 {
          font-size: 16px;
     }
}
