.faq {
  background: linear-gradient(#071d60 0%, #062da3 100%);
  padding-bottom: 40px;
  padding-top: 30px;
}
.faq-inner {
  max-width: 1440px;
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.faq-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-content h2 {
  color: var(--text-clr);
  font-size: 34px;
}
.faq-content ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.faq-content ul li {
  gap: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #1642c5;
  padding-bottom: 10px;
}
.faq-content ul li button {
  display: flex;
  padding: 5px 2px;
  width: 100%;
  align-items: center;
  padding-left: 0;
  border-radius: 10px;
  padding-left: 8px;
  gap: 20px;
}
.faq-content ul li button div {
  font-size: 28px;
  color: whitesmoke;
}

.faq-content ul li button h3 {
  color: whitesmoke;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Helvetica Neue", sans-serif;
  text-align: left;
}
.faq-content ul li p {
  padding: 0 0 0 8px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease 0.4s, max-height 1s ease;
  font-size: 16px;
  font-weight: 400;
  color: rgba(245, 245, 245, 0.89);
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.3;
  padding-left: 40px;
  max-width: 90%;
}
.faq-content ul li.active p {
  opacity: 1;
  max-height: 900px;
}
.faq-inner .faq-img {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.faq-img img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  height: 600px !important;
  object-fit: cover;
  object-position: center center;
}
.faq .wp-link {
  margin: 0 auto;
}
html[lang="fr"] .faq-content .wp-link img {
  display: none;
}
html[lang="fr"] .faq-content .wp-link {
  padding: 10px 20px;
}
@media screen and (min-width: 900px) {
  .faq-inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
  .faq-inner .faq-img {
    width: 33%;
    position: sticky;
    right: 0;
    top: 0;
  }
  .faq-content {
    width: 66%;
    padding-left: 30px;
  }
  .faq-content .wp-link {
    max-width: 440px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1000px) {
  .faq-inner .faq-img {
    display: none;
  }
  .faq-content {
    width: 95%;
    padding-left: 0;
  }
  .faq-content ul li p {
    max-width: 100%;
  }
}
