.types {
     padding: 40px 0;
     background: #071d60;
}
.types-inner {
     max-width: 1440px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     gap: 20px;
     width: 95%;
}
.types-inner h2 {
     padding-left: 20px;
     font-size: 34px;
     font-weight: bold;
     letter-spacing: 0.2px;
     color: var(--text-clr);
}
.types-content {
     display: flex;
     justify-content: space-between;
}
.types-content > img {
     width: 33%;
     object-fit: contain;
     height: auto;
}
.types-content > ul {
     width: 60%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.types-content > ul li {
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 20px;
     border-radius: 10px;
     background-color: transparent;
     background-image: linear-gradient(180deg, #0b2164 0%, #041548 100%);
     background: #052279;
     border: 1px solid #0643fc;
}

.types-content > ul li h3 {
     font-size: 22px;
     color: whitesmoke;
}

.types-content > ul li p {
     font-size: 16px;
     font-weight: 400;
     color: whitesmoke;
     font-family: 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1000px) {
     .types-inner h2 {
          text-align: center;
          padding-left: 0;
          margin-bottom: 20px;
     }
     .types-content {
          flex-direction: column;
          align-items: center;
          gap: 34px;
     }
     .types-content > img {
          width: 90%;
          max-width: 700px;
     }
     .types-content > ul {
          width: 100%;
          max-width: 700px;
     }
}
