.marquee {
     width: 100%;
     padding: 12px 0;
     background-color: #120f0f;
}
.marquee-1,
.marquee-2,
.marquee-3 {
     margin: 0 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     max-width: 240px;
}
.marquee-1 img,
.marquee-2 img,
.marquee-3 img {
     height: auto;
}
.marquee-1 img {
     width: 200px;
}
.marquee .rfm-marquee-container {
     max-width: 1000px;
     margin: 0 auto;
}
