.healthy {
     position: relative;
     background-color: var(--secondary-text);
     padding-bottom: 20px;
     background: linear-gradient(360deg, #ededed 11.4%, #f5f5f5 70.2%);
}
.healthy-inner {
     max-width: 768px;
     margin: 0 auto;
     width: 96%;
}

.healthy-inner h2 {
     text-align: center;
     margin-bottom: 20px;
     margin-top: 8px;
     color: rgb(41, 44, 57);
     font-size: 28px;
}

.healthy-inner p {
     text-align: center;
     color: rgb(41, 44, 57);
     opacity: 0.9;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.4px;
}
.healthy-inner .wp-link {
     font-size: 16px;
     font-weight: 700;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     max-width: 330px;
     padding: 10px;
     background-color: #092580;
     color: var(--secondary-text);
     margin: 0 auto;
     position: relative;
     border: 2px solid var(--secondary-text);
     border-radius: 8px;
     animation: buttonAnimation3 3s linear infinite;
     margin-top: 30px;
     margin-bottom: 30px;
}
.healthy-animation,
.healthy-animation > div {
     height: 200px;
     width: 100%;
}
