.footer {
     padding-top: 25.6px;
     background: #041548;
}
.footer-inner {
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
     margin: 0 auto;
     width: 95%;
}
.footer-top {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
}
.logo-group {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 33.2px;
}
.logo-group p {
     font-size: 16px;
     line-height: 26px;
     color: #e4e4e4;
     font-family: 'Raleway', sans-serif;
     min-height: 71px;
}
.socialmedia-container {
     display: flex;
     gap: 23.6px;
     align-items: center;
}

.footer .address {
     display: flex;
     gap: 27px;
     align-items: flex-start;
}
.footer .address p,
.footer .address a {
     display: flex;
     justify-content: space-between;
     font-family: 'Helvetica Neue', sans-serif;
     color: #e4e4e4;
     gap: 12px;
}
.footer .address p span,
.footer .address a span {
     color: #e4e4e4;
     font-size: 18px;
     line-height: 22px;
}
.footer-bottom {
     padding: 14px 0;
     border-top: 1px solid #363e3e;
     font-family: 'Raleway', sans-serif;
     text-align: center;
}
.footer-bottom p {
     font-size: 16px;
     line-height: 19px;
     color: #e4e4e4;
}
.footer-top {
     padding-bottom: 20px;
}
.socialmedia-container img {
     transition: all 0.4s ease-out;
}
.socialmedia-container img:hover {
     transform: scale3d(1.1, 1.1, 1.1);
}

@media screen and (max-width: 1200px) {
     .address {
          flex-direction: column;
     }
}

@media screen and (min-width: 768px) {
     .footer-top {
          flex-direction: row;
          justify-content: space-between;
          column-gap: 53px;
     }

     .footer-bottom {
          text-align: center;
     }
}

@media screen and (min-width: 991px) {
     .footer {
          padding-top: 43.6px;
     }
     .footer-inner {
          max-width: 98%;
     }
     .footer-top {
          justify-content: space-between;
          gap: 0;
          padding-bottom: 50.6px;
     }
}
@media screen and (min-width: 1280px) {
     .footer-inner {
          max-width: 1440px;
     }
}
