.services {
  padding: 30px 0;
  background-color: #071d60;
}
.services-inner {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services-inner h2 {
  font-size: 34px;
  color: var(--text-clr);
  margin-bottom: 20px;
}
.services-content {
  display: flex;
  gap: 27px;
}
.services-content .services-image {
  width: 44%;
  height: auto;
  position: relative;
}
.services-content .services-image > img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.services-image a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.services-image a img {
  display: none;
}
.services-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.services-list li {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.services-list li h3 {
  font-size: 20px;
  font-family: "Helvetica ", sans-serif;
  font-weight: bold;
  color: var(--text-clr);
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.services-list li p {
  font-family: "Helvetica ", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: rgba(245, 245, 245, 0.804);
  line-height: 1.4;
}

@media screen and (max-width: 1050px) {
  .services-content {
    flex-direction: column;
    align-items: center;
  }
  .services-content .services-image {
    width: 100%;
    max-width: 600px;
  }
}
