.videos {
     background: linear-gradient(180deg, rgb(32, 38, 57) 11.4%, #120f0f 70.2%);
     padding-bottom: 20px;
}

.video-animation {
     position: relative;
}
.video-animation h2 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: var(--secondary-text);
     width: max-content;
     max-width: 100%;
     text-align: center;
     padding: 0 10px;
     font-size: 32px;
}

.videos-inner {
     overflow: hidden;
     padding: 50px 0;
}
.videos-title {
     font-size: 42px;
     line-height: 1;
     color: #fff;
     margin-bottom: 40px;
}
.videos-inner .swiper {
     width: 100%;
     height: 100%;
}
#videos-swiper .swiper-slide iframe {
     width: 100%;
     aspect-ratio: 9 / 16;
}
.videos-inner .swiper-slide {
     position: relative;
     opacity: 0.65;
     scale: 0.9;
     flex-shrink: 0;
     transition: all 0.4s;
}
div#videos-swiper {
     max-width: 1440px;
     margin: 0 auto;
}
.videos-inner .swiper-slide .swiper-slide-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: all 0.4s;
     background-color: #000000;
     opacity: 0;
     z-index: 123123123;
}
.videos-inner .swiper-slide.swiper-slide-active .swiper-slide-overlay {
     display: none;
}
.videos-inner .swiper-slide.swiper-slide-active {
     position: relative;
     opacity: 1;
     scale: 1;
     flex-shrink: 0;
     transition: all 0.4s;
}
.videos-inner .swiper-slide video {
     width: 100%;
     aspect-ratio: 9/16;
     border-radius: 16px;
}

.videos .wp-link {
     padding: 8px 12px;
     min-height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     border-radius: 10px;
     max-width: 330px;
     background-color: var(--primary-text);
     color: #000;
     font-weight: 700;
     font-size: 17px;
     letter-spacing: 0.3px;
     animation: buttonAnimation 2s linear infinite;
     border: 7px solid #0c0a08bf;
     margin: 0 auto;
     margin-top: 10px;
     margin-top: 30px;
}

@media screen and (min-width: 600px) {
     .video-animation h2 {
          font-size: 50px;
     }
     .video-animation {
          max-height: 260px;
     }
     .videos-inner .wp-link {
          font-size: 18px;
          min-width: 400px;
          width: max-content;
     }
}
