.about {
  background-color: #041548;
}

.about-inner {
  max-width: 1440px;
  margin: 0 auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.about-content {
  display: flex;
  flex-direction: column;
  z-index: 111;
  max-width: 56%;
}
.about-content article {
  display: flex;
  flex-direction: column;
}
.about-content article h2 {
  font-size: 44px;
  color: var(--text-clr);
}
.about-content article h3 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
  margin-top: 6px;
  margin-bottom: 20px;
}
.about-content p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: whitesmoke;
}
.about-content a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: var(--text-clr);
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 20px;
  border-bottom: 1px solid var(--text-clr);
  width: max-content;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.about-images {
  display: flex;
  align-items: center;
  gap: 40px;
}
.about-cta {
  z-index: 1;
  border-radius: 5px;
  background: linear-gradient(#0b2164 0%, #001450 100%);
  border: 0.2px solid #7c9dff;
  max-width: 300px;
  height: max-content;
}

.about-cta > img {
  width: 100%;
  position: relative;
  z-index: 111;
}
.about-image {
  margin-right: auto;
  position: relative;
}
.about-image img {
  z-index: 11;
  position: relative;
}
.about-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url(/images/shape.svg) no-repeat;
  background-size: cover;
  bottom: 0;
  top: inherit;
  width: 802px;
  height: 557px;
}
.about-cta p {
  padding: 10px 12px;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  color: whitesmoke;
}
.about-cta p b {
  font-size: 31px;
  text-transform: uppercase;
}
.about-cta p span:first-child {
  font-size: 25px;
  font-weight: 300;
}
.about-cta p b:last-child {
  color: #afc1fa;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}
.about-cta a {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  margin-top: 10px;
  animation: scaleAnim 1s infinite alternate;
}
.about-cta a img {
  max-width: 100%;
  width: auto;
}
@keyframes scaleAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}
@media screen and (max-width: 1200px) {
  .about-image {
    width: 46%;
  }
  .about-image img {
    z-index: 1111;
    position: relative;
    max-width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .about-content article h2 {
    font-size: 34px;
  }
  .about-content article h3 {
    font-size: 18px;
  }
  .about-content p {
    font-size: 15px;
  }
  .about-inner {
    flex-direction: column;
    gap: 20px;
  }
  .about-content,
  .about-image {
    width: 100%;
    max-width: 100%;
  }
  .about-image {
    order: -2;
  }
  .about-image::before {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:768px) {
  html[lang="de"] .about-cta p b {
    font-size: 18px;
   }
}
